.custom-purple-box {
    border: 3px solid #CB297B;   /* Border color */
    padding: 3%;                /* Padding inside the box */
    background-color: #CB297B10;   /* Light grey background */
    border-radius: 10px;          /* Rounded corners */
    outline: none;                /* Remove outline */
    padding-bottom: 3%; 
    margin: 2% 0% 2% 0%;
}
.custom-blue-box {
    border: 3px solid #0076BA;   /* Border color */
    padding: 3%;                /* Padding inside the box */
    background-color: #0076BA10;   /* Light grey background */
    border-radius: 10px;          /* Rounded corners */
    outline: none;                /* Remove outline */
    padding-bottom: 3%; 
    margin: 2% 0% 2% 0%;
}
.custom-grey-box {
    border: 3px solid #a0a0a0;   /* Border color */
    padding: 3%;                /* Padding inside the box */
    background-color: #a0a0a010;   /* Light grey background */
    border-radius: 10px;          /* Rounded corners */
    outline: none;                /* Remove outline */
    padding-bottom: 3%; 
    margin: 2% 0% 2% 0%;
}

.custom-green-box {
    border: 3px solid #66509B;   /* Border color */
    padding: 3%;                /* Padding inside the box */
    background-color: #66509B10;   /* Light grey background */
    border-radius: 10px;          /* Rounded corners */
    outline: none;                /* Remove outline */
    padding-bottom: 3%; 
    margin: 2% 0% 2% 0%;
}

.custom-title {
    border-bottom: 1px solid #d3d3d3;  /* Border under the title */
    padding-bottom: 10px;              /* Space below the title */
    font-size: 1.5rem;                 /* Optional: Title size */
    margin-top: 0;                     /* Remove the margin on top of the title */
}

/* Paper highlight class for easy application */
.paper-highlight {
    background-color: #ffffd0;  /* Light yellow background */
    margin: 0;
    padding: 0;
}

/* Remove margin and padding for tables */
table {
    margin: 0;
    padding: 0;
}

p {
    font-family: "Nunito", sans-serif;
}
a {
    font-family: "Nunito", sans-serif;
}
figcaption {
	font-family: "Nunito", sans-serif;
}
h1 {
    font-family: "Nunito", sans-serif;
}
h2 {
    font-family: "Nunito", sans-serif;
}
h3 {
    font-family: "Nunito", sans-serif;
}
h4 {
    font-family: "Nunito", sans-serif;
}

b {
    font-family: "Nunito", sans-serif;
    color: #0076ba;
}

b2 {
    font-weight: 900;
    font-family: "Nunito", sans-serif;
    color: hsl(0, 0%, 25%);
}

b3 {
    font-style: italic;
    font-weight: 500;
    font-family: "Nunito", sans-serif;
    color: hsl(0, 0%, 40%);
}

b4 {
    font-weight: 900;
    font-family: "Nunito", sans-serif;
    color: hsl(0, 0%, 0%);
}

figcaption {
  text-align: center;
}

strong {
    font-weight: 900;
    font-family: "Nunito", sans-serif;
    color: #66509B;
}
