.custom-purple-box {
    border: 3px solid #CB297B;   /* Border color */
    padding: 40px;                /* Padding inside the box */
    background-color: #CB297B10;   /* Light grey background */
    border-radius: 10px;          /* Rounded corners */
    outline: none;                /* Remove outline */
    padding-bottom: 40px; 
    margin: 10px 5px 10px 5px;
}
.custom-blue-box {
    border: 3px solid #0076BA;   /* Border color */
    padding: 40px;                /* Padding inside the box */
    background-color: #0076BA10;   /* Light grey background */
    border-radius: 10px;          /* Rounded corners */
    outline: none;                /* Remove outline */
    padding-bottom: 40px; 
    margin: 10px 5px 10px 5px;
}
.custom-grey-box {
    border: 3px solid #a0a0a0;   /* Border color */
    padding: 40px;                /* Padding inside the box */
    background-color: #a0a0a010;   /* Light grey background */
    border-radius: 10px;          /* Rounded corners */
    outline: none;                /* Remove outline */
    padding-bottom: 40px; 
    margin: 40px 5px 40px 5px;
}

.custom-green-box {
    border: 3px solid #00A89D;   /* Border color */
    padding: 40px;                /* Padding inside the box */
    background-color: #00A89D10;   /* Light grey background */
    border-radius: 10px;          /* Rounded corners */
    outline: none;                /* Remove outline */
    padding-bottom: 40px; 
    margin: 40px 5px 40px 5px;
}

.custom-title {
    border-bottom: 1px solid #d3d3d3;  /* Border under the title */
    padding-bottom: 10px;              /* Space below the title */
    font-size: 1.5rem;                 /* Optional: Title size */
    margin-top: 0;                     /* Remove the margin on top of the title */
}

/* Paper highlight class for easy application */
.paper-highlight {
    background-color: #ffffd0;  /* Light yellow background */
    margin: 0;
    padding: 0;
}

/* Remove margin and padding for tables */
table {
    margin: 0;
    padding: 0;
}

p {
    font-family: "Nunito", sans-serif;
}
a {
    font-family: "Nunito", sans-serif;
}
figcaption {
	font-family: "Nunito", sans-serif;
}
h1 {
    font-family: "Nunito", sans-serif;
}
h2 {
    font-family: "Nunito", sans-serif;
}
h3 {
    font-family: "Nunito", sans-serif;
}
h4 {
    font-family: "Nunito", sans-serif;
}

b {
    font-family: "Nunito", sans-serif;
    color: #0076ba;
}

b2 {
    font-weight: bold;
    font-family: "Nunito", sans-serif;
    color: #CB297B;
}

b3 {
    font-weight: 900;
    font-family: "Nunito", sans-serif;
    color: hsl(0, 0%, 50%);
}

b4 {
    font-weight: 900;
    font-family: "Nunito", sans-serif;
    color: hsl(0, 0%, 0%);
}

strong {
    font-family: "Nunito", sans-serif;
    color: #00A89D;
}
